<html ng-app="app">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="app/app.js"></script>
        <link rel="stylesheet" type="text/css" href="app/style.css"/>
    </head>
    <body ng-controller="ConwayCtrl">
        <h1>Conway's Game of Life</h1>
        <div id="grid">
            <div class="row" ng-repeat="row in rows track by $index">
                <div class="cell"
                     ng-repeat="cell in row track by $index"
                     ng-class="{'alive': cell}"
                     ng-click="setCell(!cell, $index, $parent.$index)">
                </div>
            </div>
        </div>
        <div id="buttons">
            <div id="btn-next" class="btn" ng-click="nextRound()">
                Next
            </div>
            <div id="btn-start" class="btn" ng-click="startAnimation()" ng-hide="animating">
                Start Animation
            </div>
            <div id="btn-stop" class="btn" ng-click="stopAnimation()" ng-show="animating">
                Stop Animation
            </div>
        </div>
    </body>
</html>
