body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

h1, .btn {
    text-align: center;
}

.row {
    text-align: center;
}

.cell {
    border: 1px solid black;
    display: inline-block;
    height: 50px;
    width: 50px;
    transition: background-color .2s;
}

.cell.alive {
    background-color: #07f;
}

.cell:hover {
    background-color: #3af;
}

#buttons, #grid-controls {
    margin: 0 auto;
    width: 416px;
}

#grid-controls {
    height: 70px;
}

.number {
    width: 50px;
}

.btn {
    background-color: #ddd;
    border: 2px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    transition: all .2s;
}

.btn:hover {
    background-color: #eee;
    border: 2px solid #bbb;
}

#btn-start, #btn-stop, #btn-grid {
    float: right;
}

#btn-grid {
    margin: 0;
}
